<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aditya-Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Navbar -->
      <nav>
        <div class="logo" style="font-size: 1.7rem; font-weight: bold;">
            ADI<span style="color: red;">TYA</span>
        </div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
        </label>
        <ul>
           <li><a href="#home">HOME</a></li>
           <li><a href="#about">ABOUT</a></li>
           <li><a href="#skills">SKILLS</a></li>
           <li><a href="#projects">PROJECTS</a></li>
           <li><a href="#contact">CONTACT</a></li>
        </ul>
     </nav>
    <!-- HOME -->

    <div class="home" id="home">
        <div class="home-img">
            <img src="my_image.png" alt="My Image">
        </div>
        <div class="home-text">
            Hey there! I'm <span style="color:aqua;">Aditya</span>
            and I am a dedicated
            <br>
            <span id="element" style="color: aqua;"></span>
        </div>
    </div>


    <!-- ABOUT ME -->

    <div class="about" id="about">
            <div class="about-text-text">
                <div class="about-text-heading">
                    About Me
                </div>
                As a Computer Science Engineering student with a genuine <span style="color: rgb(170, 255, 0)">passion</span> for technology, I've cultivated a
                strong
                foundation in various programming languages and software development. My journey includes a
                comprehensive
                exploration of the <span style="color: rgb(170, 255, 0)">MERN</span> stack, along with hands-on project experience. While I wouldn't claim to have
                mastered everything, I have honed my skills in Java and Data Structures & Algorithms, and I'm proficient
                in
                other languages like JavaScript, Python, C, and C++. Additionally, I bring my creative flair to the
                table as
                a <span  style="color: rgb(170, 255, 0)">video editor</span>. If you're interested in embarking on exciting projects and are looking for a dedicated
                collaborator who's eager to learn and grow alongside you, let's connect and transform ideas into
                reality.
            </div>
            <div class="about-img">
                <img src="my-img2.jpg" alt="My image">
            </div>
    </div>

    <!-- Skills -->

    <div class="skills-section" id="skills">
        <div class="sections-heading">
            <div>SKILLS</div>
        </div>
        <div class="skill-boxes">
            <div class="skill-box" id="html">
                <img src="skills-img/html.png" alt="HTML">
                <span>HTML</span>
            </div>
            <div class="skill-box" id="css">
                <img src="skills-img/css.png" alt="CSS">
                <span>CSS</span>
            </div>
            <div class="skill-box" id="javascript">
                <img src="skills-img/javascript.png" alt="JavaScript">
                <span>JavaScript</span>
            </div>
            <div class="skill-box" id="bootstrap">
                <img src="skills-img/bootstrap.png" alt="BootStrap">
                <span>BootStrap</span>
            </div>
            <div class="skill-box" id="tailwind">
                <img src="skills-img/tailwind.png" alt="Tailwind CSS">
                <span>Tailwind CSS</span>
            </div>
            <div class="skill-box" id="nodejs">
                <img src="skills-img/node.png" alt="Node Js">
                <span>Node Js</span>
            </div>
            <div class="skill-box" id="react">
                <img src="skills-img/react.png" alt="React">
                <span>React</span>
            </div>
            <div class="skill-box" id="mongodb">
                <img src="skills-img/mongodb.png" alt="Mongodb">
                <span>Mongodb</span>
            </div>
            <div class="skill-box" id="python">
                <img src="skills-img/python.png" alt="Python">
                <span>Python</span>
            </div>
            <div class="skill-box" id="cpp">
                <img src="skills-img/cpp.png" alt="C++">
                <span>C++</span>
            </div>
            <div class="skill-box" id="java">
                <img src="skills-img/java.png" alt="Java">
                <span>Java</span>
            </div>
            <div class="skill-box" id="c">
                <img src="skills-img/c.png" alt="C">
                <span>C</span>
            </div>
            <div class="skill-box" id="davinci">
                <img src="skills-img/davinci.png" alt="Davinci Resolve">
                <span>Davinci Resolve</span>
            </div>
        </div>
    </div>

    <!-- Projects -->
    <div class="projects-section" id="projects">
        <div class="sections-heading">
            <div>TOP PROJECTS</div>
        </div>
        <div class="project-cards">
            <div class="card project-card bg-transparent">
                <img src="projects-img/quiz_app.png" class="card-img-top" alt="Quiz_App">
                <div class="card-body">
                    <h5 class="card-title">Quiz App</h5>
                    <p class="card-text">A quiz app made with using html, css and javascript which gives your time taken as score.</p>
                    <a href="https://github.com/aditya7483thakur/Quiz-App" target="_blank" class="btn btn-primary">CODE</a>
                </div>
            </div>
            <div class="card project-card bg-transparent">
                <img src="projects-img/fully_responsive_website.png" class="card-img-top" alt="Fully Responsive Website">
                <div class="card-body">
                    <h5 class="card-title">Fully Responsive Website</h5>
                    <p class="card-text">A fully responsive website made with html, css , js, nodejs and mongodb.</p>
                    <a href="https://github.com/aditya7483thakur/Responsive-Frontend-website" target="_blank" class="btn btn-primary">CODE</a>
                </div>
            </div>
            <div class="card project-card bg-transparent">
                <img src="projects-img/Amazon_clone.png" class="card-img-top" alt="Amazon Clone">
                <div class="card-body">
                    <h5 class="card-title">Amazon Clone</h5>
                    <p class="card-text">A clone of amzone home page made with pure html and css.</p>
                    <a href="https://github.com/aditya7483thakur/amazonClone" target="_blank" class="btn btn-primary">CODE</a>
                </div>
            </div>
            <div class="card project-card bg-transparent">
                <img src="projects-img/image_search_engine.png" class="card-img-top" alt="Image search app">
                <div class="card-body">
                    <h5 class="card-title">Image search app</h5>
                    <p class="card-text">An image search engine made with html, css, js and unsplash API.</p>
                    <a href="https://github.com/aditya7483thakur/Image-Search-App" target="_blank" class="btn btn-primary">CODE</a>
                </div>
            </div>
            <div class="card project-card bg-transparent">
                <img src="projects-img/notesapp.png" class="card-img-top" alt="Notes App">
                <div class="card-body">
                    <h5 class="card-title">Notes App</h5>
                    <p class="card-text">An app created using MERN stack which stores your notes and allows you to update and delete them.</p>
                    <a href="https://github.com/aditya7483thakur/inotebook" target="_blank" class="btn btn-primary">CODE</a>
                </div>
            </div>
            <div class="card project-card bg-transparent">
                <img src="projects-img/newsapp.png" class="card-img-top" alt="News App">
                <div class="card-body">
                    <h5 class="card-title">News App</h5>
                    <p class="card-text">A news app created with react using news api which shows the latest news.</p>
                    <a href="https://github.com/aditya7483thakur/NewsApp---React" target="_blank" class="btn btn-primary">CODE</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact me -->
    <div class="contact-section" id="contact">
        <div class="sections-heading">
            <div>CONTACT ME</div>
        </div>
        <div class="contact-boxes">
            <div class="social-media">
                <span>
                    I'm thrilled to connect with fellow <span style="color: rgb(170, 255, 0); display: inline;">enthusiasts</span> and collaborate on exciting real-world projects. Whether you're a developer, designer, or someone passionate about creating something <span style="color: rgb(170, 255, 0); display: inline;">extraordinary</span>, I'd love to hear from you. Let's turn our ideas into reality together. Feel free to reach out and start the conversation – the possibilities are <span style="color: rgb(170, 255, 0); display: inline;">endless</span>!
                </span>
                <div class="social-media-handles">
                    <a  href="https://instagram.com/aditya7483thakur" target="_blank"><div class="icon"><i class="fa-brands fa-instagram"></i></div></a>
                    <a href="https://github.com/aditya7483thakur" target="_blank"><div class="icon"><i class="fa-brands fa-github"></i></div></a>
                    <a href="https://www.linkedin.com/in/aditya-kumar-944a80254?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><div class="icon"><i class="fa-brands fa-linkedin-in"></i></i></div></a>
                    <a href="mailto:adityakumarji74@gmail.com"><div class="icon"><i class="fa-regular fa-envelope"></i></div></a>
                </div>
                <!-- insta , linkedin, github , mail -->
            </div>
            <form action="/contact" method="post" class="contact-form">
                <input type="text" placeholder="Enter your Name" name="name" class="name form">
                <input type="text" placeholder="Enter your Email" name="email" class="email form">
                <textarea name="message" cols="30" rows="10" class="message form" placeholder="Enter your Message"></textarea>
                <button type="submit" id="submit">Submit</button>
            </form>
        </div>
    </div>

    <!-- Copyright -->
        <footer>
            Copyright © All Right Reserved
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script>
        var typed = new Typed('#element', {
            strings: ['Web Developer', 'Video-Editor', 'Youtuber'],
            typeSpeed: 50,
        });
    </script>
    <script src="https://kit.fontawesome.com/6c77d5a2a5.js" crossorigin="anonymous"></script>
</body>

</html>