@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Signika', sans-serif;
}

.sections-heading {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 13vw;
    padding-top: 1rem;
}

.sections-heading div {
    display: inline-flex;
    transition: all 0.2s ease-in-out;
}

.sections-heading div:hover {
    translate: 0px -5px;
    cursor: pointer;
    color: rgb(170, 255, 0);
}

.social-media-handles a {
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
}

/* Nav */
nav {
    height: 4rem;
    font-size: 1.2rem;
    z-index: 10;
    display: flex;
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: rgb(29, 29, 29);
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav .logo {
    color: white;
    font-weight: bold;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.2);
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

ul {
    margin-bottom: 0rem;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 15px;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    color: red;
    font-weight: bold;
}

nav .menu-btn i {
    color: white;
    font-size: 26px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(7px);
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
        margin-top: -1rem;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 22px;
        font-weight: bold;
        transition: 1s ease-in-out;
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        color: red;
    }
}

/* Home */

.home {
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-img img {
    border-radius: 50%;
    padding: 0.1rem;
    width: 65vw;
    height: 65vw;
    margin-top: 35vw;
    transform: scale(1);
    box-shadow: 0 0 30px 10px #48abe0;
    transition: all 0.4s ease-in-out;
}

.home-img img:hover {
    cursor: pointer;
    box-shadow: #5afe67 0 0 30px 10px;
    transform: scale(1.2);
}

.home-text {
    display: inline-block;
    height: 50%;
    margin-top: 5rem;
    width: 89%;
    font-size: 10vw;
    margin-bottom: 5rem;
    text-align: center;
    color: white;
}


/* About */


.about {
    color: white;
    background-color: black;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.about-text-heading {
    font-size: 13vw;
    color: rgb(170, 255, 0);
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.about-text-heading:hover {
    translate: 0px -10px;
}

.about-text-text {
    font-size: 5vw;
    width: 95%;
    margin-top: 4rem;

}

.about-img {
    display: none;
}

/* Skills */

.skills-section {
    background-color: black;
    height: 100%;
    padding-top: 4rem;
}

.skill-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.skill-box {
    height: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 1rem;
    border-radius: 15px;
    margin-top: 1.5rem;
    margin-bottom: 1.8rem;
    transform: scale(1);
    transition: all 0.1s ease-in-out;
}

.skill-box:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#html {
    box-shadow: 1px 3px 9px #f97316;
}

#html:hover {
    box-shadow: #f97316 0px 16px 36px, #f97316 0px 5px 18px;

}

#css {
    box-shadow: 1px 3px 9px #384cff;
}

#css:hover {
    box-shadow: #384cff 0px 16px 36px, #384cff 0px 5px 18px;
}

#javascript {
    box-shadow: 1px 3px 9px #f9de16;
}

#javascript:hover {
    box-shadow: #f9de16 0px 16px 36px, #f9de16 0px 5px 18px;
}

#bootstrap {
    box-shadow: 1px 3px 9px #c40aed;
}

#bootstrap:hover {
    box-shadow: #c40aed 0px 16px 36px, #c40aed 0px 5px 18px;
}

#tailwind {
    box-shadow: 1px 3px 9px #16cff9;
}

#tailwind:hover {
    box-shadow: #16cff9 0px 16px 36px, #16cff9 0px 5px 18px;
}

#nodejs {
    box-shadow: 1px 3px 9px #22dd09;
}

#nodejs:hover {
    box-shadow: #22dd09 0px 16px 36px, #22dd09 0px 5px 18px;
}

#react {
    box-shadow: 1px 3px 9px #3d8ef9;
}

#react:hover {
    box-shadow: #3d8ef9 0px 16px 36px, #3d8ef9 0px 5px 18px;
}

#mongodb {
    box-shadow: 1px 3px 9px #33c905;
}

#mongodb:hover {
    box-shadow: #33c905 0px 16px 36px, #33c905 0px 5px 18px;
}

#python {
    box-shadow: 1px 3px 9px #e8e407;
}

#python:hover {
    box-shadow: #e8e407 0px 16px 36px, #e8e407 0px 5px 18px;
}

#cpp {
    box-shadow: 1px 3px 9px #2c59ff;
}

#cpp:hover {
    box-shadow: #2c59ff 0px 16px 36px, #2c59ff 0px 5px 18px;
}

#java {
    box-shadow: 1px 3px 9px #ec840d;
}

#java:hover {
    box-shadow: #ec840d 0px 16px 36px, #ec840d 0px 5px 18px;
}

#c {
    box-shadow: 1px 3px 9px #2c59ff;
}

#c:hover {
    box-shadow: #2c59ff 0px 16px 36px, #2c59ff 0px 5px 18px;
}

#davinci {
    box-shadow: 1px 3px 9px #10fc5f;
}

#davinci:hover {
    box-shadow: #10fc5f 0px 16px 36px, #10fc5f 0px 5px 18px;
}

.skill-box img {
    height: 50%;
}

.skill-box span {
    margin-top: 1rem;
    font-size: 5vw;
    font-weight: bold;
    color: white;
    ;
}

/* Projects */


.projects-section {
    background-color: black;
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card {
    margin: 1rem;
    width: 90%;
    margin-top: 2rem;
    height: 100%;
    color: white;
    box-shadow: whitesmoke 0px 3px 8px;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.project-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* Contact */

.contact-section {
    padding-top: 2rem;
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
}

.social-media span {
    display: none;
}

.contact-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}

.social-media {
    height: 100%;
    width: 100%;
}

.social-media-handles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    margin: 0vw 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: scale(1);
    height: 15vw;
    width: 15vw;
    font-size: 11vw;
    transition: all 0.2s ease-in-out;
    box-shadow: rgb(15, 238, 38) 0px 1px 15px;
}

.icon i {
    color: white;
}

.icon:hover {
    box-shadow: rgba(255, 3, 184, 0.922) 0px 5px 15px;
    transform: scale(1.2);
    cursor: pointer;
}


.contact-form {
    margin-top: 2rem;
    height: 100%;
    width: 90%;
}

.form {
    color: white;
    border-radius: 5px;
    box-shadow: rgba(58, 170, 251, 0.927) 0px 1px 3px 0px, rgba(65, 152, 240, 0.916) 0px 0px 0px 1px;
    border: none;
    padding-left: 0.5rem;
    background: transparent;
    font-size: 1.3rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    transition: all 0.2s ease-in-out;
}

.form:hover {
    box-shadow: rgba(22, 245, 26, 0.958) 1px 1px 22px;
    border: 1px solid rgba(22, 245, 26, 0.958);
}

.name {
    height: 3rem;
    width: 100%;
}

.email {
    height: 3rem;
    width: 100%;
}

.message {
    padding-top: 0.5rem;
    height: 12rem;
    width: 100%;
}

#submit {
    border-radius: 5px;
    height: 3rem;
    background: transparent;
    box-shadow: rgba(58, 170, 251, 0.927) 0px 1px 3px 0px, rgba(65, 152, 240, 0.916) 0px 0px 0px 1px;
    transition: all 0.2s ease-in-out;
    border: none;
    color: whitesmoke;
    width: 100%;
    font-size: 1.5rem;
}

#submit:hover {
    box-shadow: rgba(22, 245, 26, 0.958) 1px 1px 22px;
    border: 1px solid rgba(22, 245, 26, 0.958);
}

/* copyright */
footer {
    text-align: center;
    background-color: black;
    color: white;
    height: 100%;
    box-shadow: white 0px 0px 10px;
    padding: 0.8rem 0rem;
    font-size: 1.3rem;
}

/* Media Queries */

@media (min-width:426px) and (max-width:768px) {}

@media (min-width:769px) and (max-width:1024px) {}

@media (min-width:1025px) {
    .sections-heading {
        font-size: 4vw;
    }

    /* Navbar */

    .nav-link:hover {
        transform: scale(1.10);
    }

    /* Home */
    .home {
        flex-direction: row;
        justify-content: space-around;
        padding-top: 8rem;
        padding-bottom: 3rem;
        padding-left: 2rem;
        padding-right: 3rem;
    }

    .home-img img {
        width: 25vw;
        height: 25vw;
        margin-top: 0vw;
    }

    .home-text {
        font-size: 4.5vw;
        height: 50%;
        width: 50%;
    }

    /* About */


    .about {
        color: white;
        background-color: black;
        height: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    .about-text-heading {
        font-size: 3.5vw;
    }

    .about-text-text {
        font-size: 1.65vw;
        width: 40%;
        margin-top: 4rem;

    }

    .about-img {
        height: 33vw;
        margin: 5rem;
        margin-bottom: -1.5rem;
        display: block;
        width: 27vw;
        border-radius: 1rem;
        box-shadow: #48abe0 0 0 20px 9px;
        transform: scale(1.05);
        transition: all 0.3s ease-in-out;
    }

    .about-img:hover {
        transform: scale(1.1);
        box-shadow: #48abe0 0 0 20px 9px;
    }

    .about-img img {
        height: 33vw;
        width: 27vw;
        border-radius: 1rem;
        border: 3px solid black;
        transform: scale(1);
        transition: all 0.3s ease-in-out;
    }

    .about-img img:hover {
        transform: scale(1.01);
        cursor: pointer;
    }

    /* Skills */
    .skills-section {
        background-color: black;
        height: 100%;
        padding-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skill-boxes {
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 95%;

    }

    .skill-box {
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 18rem;
        border-radius: 15px;
        margin-top: 1.5rem;
        margin-bottom: 1.8rem;
    }

    .skill-box img {
        height: 50%;
    }

    .skill-box span {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    /* Projects */

    .project-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .project-card {
        margin: 1rem;
        width: 22rem;
        margin-top: 2rem;
        height: 23rem;
    }

    /* Contacts */

    .social-media span {
        display: block;
        color: whitesmoke;
        font-size: 1.5rem;

    }

    .contact-boxes {
        flex-direction: row;
        justify-content: space-around;
        margin-top: 1.5rem;
        width: 95%;
    }

    .social-media {
        height: 100%;
        width: 40%;
        text-align: center;
    }

    .social-media-handles {
        margin-top: 2rem;
    }

    .social-media span {
        color: whitesmoke;
        font-size: 130%;
        padding-bottom: 1rem;
    }

    .icon {
        justify-content: center;
        align-items: center;
        height: 6rem;
        font-size: 4rem;
        width: 6rem;
        margin: 0rem 1rem;
    }

    .icon i {
        color: white;
    }

    .contact-form {
        margin-top: 0rem;
        height: 100%;
        width: 50%;
    }

    .form {
        color: white;
        border-radius: 5px;
        border: none;
        padding-left: 0.5rem;
        background: transparent;
        font-size: 1.3rem;
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
    }
}